.venv
poetry.lock

__pycache__
*.pyc
*.pyo
*.pyd
*.pdb

build/
dist/
*.egg-info/

tests/
*.test.py
*.pytest_cache/
*.coverage
.coverage.*
nosetests.xml
coverage.xml
*.log

Dockerfile
.dockerignore
docker-compose.yml

.git
.gitignore
README.md
LICENSE
